
#task-container {
    display: grid;
    row-gap: 10px;
}

/* #outer-task-form-container {

    position: absolute;
} */

#outer-task-form-container {
    position: absolute;
    z-index: 101;
    top: 20%;
    left: 20%;
    transition: transform 250ms, opacity 400ms;
}
#task-form-container {
    display:grid;
    grid-template-rows: 1fr 5fr;
    position: fixed;
    height: 300px;
    width: 700px;
    background-color:#242020;
    color: lightsalmon;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
}

#todo-form-left {
    border: 1px white solid;
    padding: 10px;
}

#todo-form-right {
    border: 1px white solid;
    padding: 10px;
}
#form-below-header {

}

#submit-todo-button {
    width: 70px;
}

#close-task-form-button {
    width: 70px;
}

#task-form {
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.task-form-input {
    width: 300px;
}

#task-desc {
    height: 100px;
}

#todo-form-below {
    margin-left: auto;
    padding-right: 40px;
}