
#task-container {
    display: grid;
    row-gap: 10px;
}

#outer-task-form-container {

    position: absolute;
}

#task-form-container {
    display:grid;
    grid-template-rows: 1fr 5fr;
    position: fixed;
    height: 300px;
    width: 700px;
    background-color: antiquewhite;


}

#form-below-header {

}

#task-form {
    display:grid;
    grid-template-columns: 1fr 1fr;

}