#wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

#below-header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: aquamarine;

}

#main-display {

}

#task-form-container {
    display: absolute;
}

/* #task-container {
    width: 60vw;
    height: 30vh;
    background-color: beige;
}

.form-for-task-to-be-edited {
    width: 400px;
    height: 200px;
    background-color: aqua;
}

#project-container {
    width: 60vw;
    height: 30vh;
    background-color: greenyellow;

} */


.drop-down {
    position: relative;
}

.drop-content {
   display: none; 
   position: absolute;
   background-color: blue;
}

.drop-down:hover .drop-content {
    display: block;
    cursor: pointer;
}