#wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

#below-header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 30px;
    background-color: aquamarine;

}

#main-display {

}

#task-form-container {
    display: absolute;
}

.project-div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}

.delete-project-button {
    display: none;

}

.project-div:hover .delete-project-button {
    display: block;

}