/* @import url('../node_modules/font-awesome/css/font-awesome.min.css'); */

body {
    margin: 0;
}

#overlay-for-popup {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, .6);
}

/* #outer-task-form-container {
    position: relative;
    z-index: 101;
    top: 20%;
    left: 20%;
    transition: transform 250ms, opacity 400ms;
} */

#wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
    z-index: 50;
}

#header {
    background-color: #8a1e1e;
}

#below-header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 30px;
    background-color: #140a0a;

}

#main-display {

}

#project-container {

    display: grid;
    row-gap: 5px;
}
.project-div,
.home-in-sidebar {
    /* background-color: #488db0; */
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
}

.project-div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;

}

.delete-project-button {
    display: none;
}

.task-div {
    display: grid;
    grid-template-columns: 1fr 8fr;
    width: 50vw;
}

.task-div:hover .task-div-right {
    background-color: blue;
}

.task-div:hover {
    cursor: pointer;
}

.task-div-left {
    background-color: red;

}

.task-div-right{
    background-color: #0f0e24;
}

.task-div-right div {
    color: white;
}

.project-div:hover,
.home-in-sidebar:hover {
    background-color: #0f0e24;
    color: white;

}
.project-div:hover .delete-project-button {
    display: block;
}

.task-details-container {
    width: 50vw;
    height: 100px;
    /* background-color: ; */
    /* display: none; */
    border: solid 1px white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.task-details-container-above {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    color: lightpink;
}

.task-details-container-bottom {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.task-details-container-left {

}

.task-details-container-right {

}
#project-title {
    color: lightpink;
    border-bottom: 1px solid lightpink;
}

#sidebar {
    margin-left: 30px;
    margin-top: 30px;
    color: lightpink;
    background-color: #242020;
}

#home-title-in-sidebar,
#project-title-in-sidebar {
    border-bottom: 1px solid lightpink;
}

/* .home-in-sidebar {
    background-color: #488db0;
    margin-left: 20px;
} */

.current-clicked-project {
    background-color: #0f0e24;
    color: white;
}

.high-priority {
    background-color: red;
}

.med-priority {
    background-color: orange;
}

.low-priority {
    background-color: oldlace;
}

.task-button {
    background-color: #140a0a;
    border: none;
    color: lightcoral;
    cursor: pointer;
}

.task-button:hover {
    background-color: lightsalmon;
    color: oldlace;
}

.delete-project-button,
#add-project-in-sidebar,
#add-todo-button {
    cursor: pointer;
}